## Nodes
node_modules/
**/node_modules/
npm-debug.log*

## Typescript / Build
out/
**/out/
*.tsbuildinfo

## Rust / Cargo
/target/
**/*.rs.bk

## OS / IDE
.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json